.projects {
    margin-bottom: 120px;
    margin-top: 10%;
}

.portfolio-content {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3, minmax(320px, auto));
    grid-gap: 2rem;
    margin-top: 5rem;
    cursor: pointer;
}

.col img {
    max-width: 100%;
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 85%;
}

.layer {
    height: 88%;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    transition: 0.4s;
}
.layer img {
    opacity: 70%;
}

.layer img:hover {
    opacity: 30%;
    z-index: -1;
}

.layer:hover {
    background-color: rgb(39, 45, 45);
    transition: 0.4s;
    transform: scale(1.1);
    z-index: 1;
}

.layer h3 {
    width: 100%;
    bottom: 50%;
    position: relative;
    color:aliceblue;
}

.layer h3:hover {
    transition: 1s;
    z-index: 1;
}

.layer h5 {
    width: 100%;
    position: relative;
    bottom: 45%;
    color:aliceblue;
    z-index:5;
}

.layer h5:hover {
    position: relative;
    z-index: 1;
}