.projects {
    margin-bottom: 120px;
    margin-top: 10%;
}

.portfolio-content {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3, minmax(360px, auto));
    grid-gap: 2rem;
    cursor: pointer;
    flex-wrap: wrap;
}

.col img {
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 85%;
    transition: 0.3s;
}

.col img:hover {
    opacity: 100%;
    transform: scale(1.1);
    transition: 0.3s;
    margin-bottom: 5%;
}

.layer {
    height: 88%;
    text-align: center;
    border-radius: 12px;
    transition: 0.4s;
}

.img:hover {
    opacity: 30%;
    z-index: -1;
}

.col .hover {
    background-color: rgb(39, 45, 45);
    transition: 0.4s;
    transform: scale(1.1);
    z-index: 1;
}

.h3 {
    bottom: 50%;
    position: relative;
    color: aliceblue;
    text-align: center;
}

.layer h3:hover {
    transition: 1s;
    z-index: 1;
}

.col h5 {
    text-align: center;
    color: rgb(73, 102, 126);
    z-index: 5;
    margin-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 300px;
}

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
    .projects {
        margin-bottom: 60px;
        margin-top: 5%;
    }

    .portfolio-content {
        grid-template-columns: repeat(1, minmax(280px, auto));
        grid-gap: 1rem;
    }

    .col img {
        width: 280px;
        height: 370px;
    }

    .h3,
    .col h5 {
        font-size: small; /* reduce the font size to fit in small screens */
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .projects {
        margin-bottom: 90px;
        margin-top: 7%;
    }

    .portfolio-content {
        grid-template-columns: repeat(2, minmax(320px, auto));
        grid-gap: 1.5rem;
    }

    .col img {
        width: 320px;
        height: 420px;
    }

    .h3,
    .col h5 {
        font-size: medium; /* adjust the font size for medium screens */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .projects {
        margin-bottom: 120px;
        margin-top: 10%;
    }

    .portfolio-content {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(3, minmax(360px, auto));
        grid-gap: 2rem;
        cursor: pointer;
        flex-wrap: wrap;
    }

    .col img {
        width: 320px;
        height: 420px;
        object-fit: cover;
        border-radius: 12px;
        opacity: 85%;
        transition: 0.3s;
    }

    .col img:hover {
        opacity: 100%;
        transform: scale(1.1);
        transition: 0.3s;
        margin-bottom: 5%;
    }

    .layer {
        height: 88%;
        text-align: center;
        border-radius: 12px;
        transition: 0.4s;
    }

    .img:hover {
        opacity: 30%;
        z-index: -1;
    }

    .col .hover {
        background-color: rgb(39, 45, 45);
        transition: 0.4s;
        transform: scale(1.1);
        z-index: 1;
    }

    .h3 {
        bottom: 50%;
        position: relative;
        color: aliceblue;
        text-align: center;
    }

    .layer h3:hover {
        transition: 1s;
        z-index: 1;
    }

    .col h5 {
        text-align: center;
        color: rgb(73, 102, 126);
        z-index: 5;
        margin-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
        max-width: 300px;
    }
}
