.skills {
    padding-top: var(--header-height); /* Use the variable for header height */
    scroll-margin-top: calc(var(--header-height)); /* Add a little extra space for the smooth scroll to account for the fixed navbar */
}

.skills-box {
    box-sizing: border-box;
    box-shadow: 10%;
    background-color: rgb(0, 0, 0);
    padding: 9%;
}

.skills-content {
    display: grid;
    color: aliceblue;
    text-align: center;
    height: max-content;
    grid-template-columns: repeat(5, minmax(100px, auto));
    grid-gap: 5rem;
}

.skills-content img {
    transition: 1.5s;
}

.skills-content img:hover {
    transition: 0.2s;
    transform: scale(0.9);
}

.skills-detail {
    justify-content: center;
}

.carousel-wrapper {
    width: 100%;
}

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
    .skills-box {
        padding: 5%;
    }

    .skills-content {
        grid-template-columns: repeat(2, minmax(100px, auto));
        grid-gap: 2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .skills-box {
        padding: 7%;
    }

    .skills-content {
        grid-template-columns: repeat(3, minmax(100px, auto));
        grid-gap: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .skills {
        margin-top: 15%;
    }

    .skills-box {
        box-sizing: border-box;
        box-shadow: 10%;
        background-color: rgb(0, 0, 0);
        padding: 9%;
    }

    .skills-content {
        display: grid;
        color: aliceblue;
        text-align: center;
        height: max-content;
        grid-template-columns: repeat(5, minmax(100px, auto));
        grid-gap: 5rem;
    }

    .skills-content img {
        transition: 1.5s;
    }

    .skills-content img:hover {
        transition: 0.2s;
        transform: scale(0.9);
    }

    .skills-detail {
        justify-content: center;
    }

    .carousel-wrapper {
        width: 100%;
    }
}
