.header {
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: 1s;
}

.logo {
    color: rgb(255, 255, 255);
    padding-left: 100px;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition: 0.3s;
}

.logo:hover {
    transition: 0.3s;
    transform: rotateX(45deg);
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 90px;
}

.header ul li {
    list-style: none;
    margin-left: 30px;
}

.header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

.active-link,
header ul li a:hover {
    background: #fff;
    color: #2b1055;
}

.scroll-header {
    box-shadow: 0 30px rgb(73, 73, 73);
    background-color: rgb(73, 73, 73);
    opacity: 90%;
}

.nav__link {
    text-decoration: none;
}

.menu-icon {
    display: none;
    padding-right: 20px; /* add some padding to place the icon better */
    font-size: 2em; /* make the icon bigger */
}

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
    .header {
        justify-content: center; /* Adjust content spacing */
        padding-top: 20px;
    }

    .logo {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.8em;
        padding: 0;
        margin-left: 50px;
    }

    .header ul {
        flex-direction: column;
        width: 100%; /* take the full width */
        width: auto;
    }

    .header ul li {
        margin: 5px 0; /* add some margin to the top and bottom */
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header ul li a {
        font-size: 1em; /* make the font size bigger */
        width: 100%;
    }

    .menu-icon {
        cursor: pointer;
        margin-left: 2%;
        margin-top: -10%;
        font-size: 2em; /* make the icon bigger */
        display: block;
    }

    .nav-menu {
        display: none;
        opacity: 0;
        background-color: #333; /* Dark background for the menu */
    }
    
    .nav-menu.active {
        opacity: 100;
        width: auto;
        display: flex;
        flex-direction: column; 
        text-align: center;
        align-items: center;
        transform: translateY(0);
        padding: 0;
        transition: transform 0.3s ease-in-out;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        padding-top: 1.5%;
    }

    .logo {
        padding-left: 50px;
        font-size: 1.5em;
    }

    .header ul {
        padding-right: 50px;
    }

    .header ul li {
        margin-left: 15px;
    }

    .header ul li a {
        padding: 4px 10px;
        font-size: medium; /* adjust the font size for medium screens */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        position: fixed;
        padding-top: 2%;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        transition: 1s;
    }

    .logo {
        color: rgb(255, 255, 255);
        padding-left: 100px;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 8px;
        transition: 0.3s;
    }

    .logo:hover {
        transition: 0.3s;
        transform: rotateX(45deg);
    }

    .header ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 90px;
    }

    .header ul li {
        list-style: none;
        margin-left: 30px;
    }

    .header ul li a {
        text-decoration: none;
        padding: 6px 15px;
        color: #fff;
        border-radius: 20px;
    }

    .active-link,
    header ul li a:hover {
        background: #fff;
        color: #2b1055;
    }

    .scroll-header {
        box-shadow: 0 30px rgb(73, 73, 73);
        background-color: rgb(73, 73, 73);
        opacity: 90%;
    }

    .nav__link {
        text-decoration: none;
    }
}
