.home__scroll-name {
    color: blue;
}

.wheel {
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.home__scroll-arrow {
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
